doctype html
html
  head
    title= title
    script(src="http://www.polymer-project.org/1.0/samples/components/webcomponentsjs/webcomponents-lite.js")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='import', href='/components/proto-element.html')
  body
    block content
