doctype html
html
  head
    title= title
    script(src="webcomponentsjs/webcomponents-lite.js")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='import', href='/components/proto-element.html')
    link(rel='import', href='/components/hello-element.html')
    link(rel='import', href='/components/dom-element.html')
    link(rel='import', href='/components/picture-element.html')
  body
  domdy
    block content
